<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" href="/css/index.css"> -->
   <title>Document Title</title>
</head>

<body>
   <h1>You are Done</h1>

   <script>
      document.addEventListener('DOMContentLoaded', async function () {
         // Execute this code when the DOM content has been loaded
         if (localStorage.getItem('token') != null) {
            try {
               const response = await fetch('/home', {
                  method: "POST",
                  headers: {
                     "Content-Type": "application/json",
                     "auth-token": localStorage.getItem("token"),
                  },
               });

               if (response.status === 200) {
                  console.log("Home page API is called successfully");
                  const json = await response.json();
                  // Process the response data here
               } else {
                  console.error('Request failed with status:', response.status);
                  // Handle the error response appropriately
               }
            } catch (error) {
               console.error('Request failed:', error);
               // Display or handle the error message appropriately
            }
         } else {
            window.location.href = '/login';
         }
      });
   </script>
</body>

</html>