<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My items</title>
</head>
<body>
    <form class="mb-5 mx-md-5" action="/myitems" method="POST">
 
        <div class="row">   
            <div class="col-md-6 mb-4">

                <!-- phone No. -->
                <input id="phoneno" type="number" class="form-control" placeholder="Phoneno" name="phoneno" required>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button type="submit" class="btn bg-primary">Submit</button>
                </div>
            </div>
        </div>

    </form>
    
</body>
</html>